h1 {
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Roboto', sans-serif;
}

text {
    position: absolute;
    left: 50%;
    top: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    letter-spacing: 10px;
    color: grey;
}

.landing-page {
    width: 100%;
    height: 130vh;
    background-image: linear-gradient(to right, white, #e4e3e3);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem;
    font-family: 'Raleway-Bold';
    margin-bottom: 4rem;
}

.landing-page img {
    width: 100%;
    position: relative;
    bottom: 3rem;
}

.landing-content {
    width: 80%;
    position: relative;
    left: 4rem;
}