h1{
    color: #fddc71;
}

h4 {
    color: grey;
}

p{
    color: grey;
}

.offer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2%;
    padding: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

i{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fddc71;
}

.offer-element {
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 10px;
}

.offer-container {
    text-align: center;
    background-image: linear-gradient(to right, white, #e4e3e3);
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
}

#our-products {
    margin-bottom: 3rem;
}