
#link {
    color: #3568dd;
    text-decoration: none;
    outline: none;
}

#link :hover {
    color: blueviolet;
    text-decoration: none;
    outline: none;
}

.products {
    width: 100%;
    height: 100%;
    padding: 0 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.product {
    width: 90%;
    margin-bottom: 1rem;
}

.product-info img {
    width: 90%;
    margin-bottom: 0.5rem;
}

.product-info p {
    font-family: 'Montserrat';
    font-size: 0.8rem ;
}

.product-purchase {
    display: grid;
    grid-template-columns: 30% 55%;
    column-gap: 5%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.product-purchase button {
    outline: none;
    background-color: #f9d56e;
}

.product-purchase h6 {
    margin: 0;
}

/* hover effect */
.product-purchase button:hover {
    background-color: #f0eeef;
    color:#222831 ;
}

.modal-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.modal-container img {
    width: 50%;
    position: relative;
    left: 10rem;
}

.modal-infos {
    position: relative;
    right: 5rem;
    bottom: 5rem;
}

.modal-purchase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 10rem;
}

.modal-purchase button {
    background-color: #f9d56e;
}

.modal-purchase button:hover {
    background-color: #f0eeef;
    color:#222831 ;
}